.install-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 18px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #007bff; /* Azul moderno */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.1s;
    margin-left: 25px;
    margin-top: 10px;
}

.install-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.install-btn:active {
    transform: scale(0.95);
}

.install-btn .icon {
    font-size: 20px;
}

.install-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.icon {
    width: 24px;
    height: 24px;
}